
-----------------------------------------------
Blogger Template Style
Name:        Folio
Author :     https://philipryzhuk.blogspot.com
License:     One Version
----------------------------------------------- */
/* Variable definitions
-----------------------
<Group description="Main Hover Color" selector="body">
<Variable name="maincolor" description="Primary Color" type="color" default="#ffbd2f"  value="#ffbd2f"/>
</Group>
/*****************************************
reset.css
******************************************/
html, body, .section, .widget, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {    margin: 0;    padding: 0;}
html {   overflow-x: hidden;}
a {text-decoration:none;color:#000;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {     display:block;}
table {    border-collapse: separate;    border-spacing: 0;}
caption, th, td {    text-align: left;    font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {    content: "";}
.quickedit, .home-link{display:none;}
blockquote, q {    quotes: "" "";}
sup{    vertical-align: super;    font-size:smaller;}
code{    font-family: 'Courier New', Courier, monospace;    font-size:12px;    color:#272727;}
::selection {background:transparent; text-shadow:#000 0 0 2px;}
::-moz-selection {background:$maincolor; text-shadow:#000 0 0 2px;}
::-webkit-selection {background:$maincolor; text-shadow:#000 0 0 2px;}
::-o-selection {background:$maincolor; text-shadow:#000 0 0 2px;}
a img{	border: none;}
ol, ul { padding:0;  margin:0;  text-align: left;  }
ol li { list-style-type: decimal;  padding:0 0 5px;  }
ul li { list-style-type: disc;  padding: 0 0 5px;  }
ul ul, ol ol { padding: 0; }
#navbar-iframe, .navbar {   height:0px;   visibility:hidden;   display:none   }
.Attribution, .feed-links, .post-footer-line.post-footer-line-1, .post-footer-line.post-footer-line-2 , .post-footer-line.post-footer-line-3 {
display: none;
}
.item-control {
display: none !important;
}
h2.date-header, h4.date-header {display:none;margin:1.5em 0 .5em}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #151515;
}
img {
max-width: 100%;
vertical-align: middle;
border: 0;
}
.widget iframe, .widget img {
max-width: 100%;
}
.status-msg-wrap {
display: none;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: rotate(180deg) skew(360deg);
            transform: rotate(180deg) skew(360deg);
  }
}
@-webkit-keyframes animate2 {
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}
@keyframes animate2 {
  100% {
    -webkit-transform: rotate(-180deg) skew(-360deg);
            transform: rotate(-180deg) skew(-360deg);
  }
}

/*****************************************
Custom css starts
******************************************/
body {
color: #2e2e2e;
    font-family: 'Rubik', sans-serif;
font-size: 14px;
font-weight: normal;
line-height: 21px;
background: #ffffff;
}
/* ######## Wrapper Css ######################### */
#outer-wrapper{max-width:100%;margin:0 auto;background-color:#FFF;box-shadow:0 0 5px RGBA(0, 0, 0, 0.2)}
.row{width:1170px}
#content-wrapper {
margin: 0 auto;
padding: 20px 0 30px;
overflow: hidden;
}

.item #main-wrapper, .statc_page #main-wrapper {
float: left;
width: 68%;
max-width: 800px;
}
.index #main-wrapper, .archive #main-wrapper {
float:none;
width:100%;
max-width:100%
}
.item #sidebar-wrapper, .statc_page #sidebar-wrapper {
float: right;
width: 30%;
max-width: 330px;
}
.index #sidebar-wrapper, .archive #sidebar-wrapper {
display:none;
visibility:hidden;
height:0;
opacity:0;
}
/* ######## Scrolling Navigation Menu Css ######################### */
.scroll-header {
       z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
transition: all .5s;
}
.item .scroll-header, .static_page .scroll-header, .error_page .scroll-header {
    position: static;
    display: flex;
    background: #f5f5f5 none repeat scroll top left;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.1);
    padding: 20px 0;
}
.scroll-header.scrolled-header {
 background-color: rgba(30, 30, 30, 0.85);
    border-bottom: 1px solid #262626;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
visibility:visible;
display:block;
transition: all .5s;
}
.scroll-head-wrap {
margin:0 auto;
}
.item .scroll-header h1, .static_page .scroll-header h1, .error_page .scroll-header h1 {
    display: block!important;
color:#000!important;
}
.item .scroll-header #header img, .static_page .scroll-header #header img, .error_page .scroll-header #header img {
    display: none!important;
}
.item .scroll-header.scrolled-header h1, .static_page .scroll-header.scrolled-header h1, .error_page .scroll-header.scrolled-header h1 {
    display: none!important;
color:#000!important;
}
.item .scroll-header.scrolled-header #header img, .static_page .scroll-header.scrolled-header #header img, .error_page .scroll-header.scrolled-header #header img {
    display: block!important;
}
.scrollin-logo {
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.scrollin-logo .logo-title {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 17px;
    display: block;
color:#fff;
}
.scrolling-menu {
    float: right;
    display: inline-block;
    width: auto;
}
.scrolling-menu #nav {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.scrolling-menu #nav li {
    display: inline-block;
    float: left;
    line-height: 1;
    list-style: none outside none;
   padding: 16px 17px;
    text-align: left;
}
.scrolling-menu #nav li a {
    background: transparent;
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 0 0 8px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.3px;
}
.scrolling-menu #nav li a:hover {
    color: $maincolor;
}
.scrolling-menu #nav li.current a {
  color: $maincolor;
}
.scrolling-menu #nav li.current a:before {
    position: absolute;
    bottom: 0;
    left: 0;
   width: 100%;
    opacity: 1;
    height: 1px;
    content: '';
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    background: $maincolor;
}
/* ######## Navigation Menu Css ######################### */
.slicknav_menu {
display:none;
}

.tm-menu .slicknav_menu {
right:0;
display:none;
}

.scrolling-menu .slicknav_menu {
right:0;
}
.slicknav_menu {
padding:0 10px;
    position: absolute;
    z-index: 9;
}
.slicknav_menu .slicknav_icon-bar {
background-color: #343434;
}
.index .slicknav_menu .slicknav_icon-bar {
background-color: #fff;
}
.slicknav_nav a{
padding:5px 10px;
margin:2px 5px;
text-decoration:none;
color:#000;
font-size:11px;
font-weight:400;
letter-spacing:2px;
text-transform:uppercase;
}
/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right;  line-height: 27px; cursor: pointer;  height:27px;}
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
.scroll-header.scrolled-header .slicknav_btn {color:#fff;}
.scroll-header.scrolled-header .slicknav_menu .slicknav_icon-bar {
    background-color: #fff;
}
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
    font-size:16px;
}
/* Button */
.slicknav_btn {
    margin: 0px 5px 6px;
    text-decoration:none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;  
    
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000;
}
/* Button Lines */


.slicknav_nav {
    color:#fff;
    margin:0;
    padding:0;
    font-size:0.875em;
background: #fff;

}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:8px 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav .slicknav_row:hover {
    
}
.slicknav_nav a:hover{
    color: $maincolor;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}

.slicknav_menu .slicknav_no-text {
	margin-top:15px;
}
.tm-menu {
    font-weight: 400;
    margin: 0;
height:60px;
text-align:center;
     float: right;
  display:none;
    width: auto;
}
.item .tm-menu, .static_page .tm-menu, .error_page .tm-menu {
    display: inline-block;
}
ul#nav1 {
    list-style: none;
    margin: 0;
    padding: 0;
text-align: center;
}
#menu .widget {
    display: none;
}
#menu {
    height: 60px;
    position: relative;
    text-align: center;
    z-index: 15;
margin:0 auto;
}
.menu-wrap {
margin:0 auto;
position: relative;
}
#menu ul > li {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    padding: 0;
    margin: 0;
}
#menu ul > li:hover > a {
    color: $maincolor
}
.index #menu ul > li > a {
color:#fff;
}
#menu ul > li > a {
    color: #000;
    font-size: 14px;
    line-height: 60px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 12px;
}
.scroll-header.scrolled-header #menu ul > li > a, .scroll-header.scrolled-header #header h1 a {
color:#fff;
}
.scroll-header.scrolled-header #menu ul > li > ul > li > a {
color:#000;
}
#menu ul > li:first-child > a {
    padding-left: 0;
}

#menu ul > li > ul > li:first-child > a:before, #menu ul > li > ul > li > ul > li:first-child > a:before {
display:none;
}
#menu ul > li > ul > li:first-child > a {
    padding-left: 12px
}
#menu ul > li > ul {
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.15);
    top: 100%;
    left: 0;
    min-width: 180px;
    padding: 0;
    z-index: 99;
    margin-top: 0;
    visibility: hidden;
    opacity: 0;
   webkit-transform: translate3d(-11px, 0, 0);
    transform: translate3d(-11px, 0, 0);
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
#menu ul > li > ul > li > ul {
    position: absolute;
    top: 0;
    left: 180px;
    width: 180px;
    background: #fff;
    z-index: 99;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    border-left: 1px solid #e5e5e5;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px)
}
#menu ul > li > ul > li {
    display: block;
    float: none;
    text-align: left;
    position: relative;
border-bottom: 1px solid;
    border-top: none;
    border-color: #e5e5e5;
}
#menu ul > li > ul > li:hover {
    background-color: rgba(255, 255, 255, 0.03)
}
#menu ul > li > ul > li a {
    font-size: 11px;
    display: block;
    color: #000;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0 12px;
    border-right: 0;
    border: 0
}
.index #menu ul > li > ul > li a {
color:#000;
}
#menu ul > li.parent > a:after {
    content: '\f107';
    font-family: FontAwesome;
    float: right;
    margin-left: 5px
}
#menu ul > li:hover > ul,
#menu ul > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0)
}
#menu ul > li > ul > li.parent > a:after {
    content: '\f105';
    float: right
}
#menu ul ul {

}

/* ######## Header Css ######################### */

.index #header-wrapper .svg, .archive #header-wrapper .svg {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  z-index: 2;
}
.index #header-wrapper .svg svg, .archive #header-wrapper .svg svg {
  fill: #fff;
  width: 101%;
}

#header-wrapper {
text-align: center;
padding:0;
background: url(https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress/2019/07/sb-blog-programming.png) no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;
height:100vh;
box-sizing:border-box;
position:relative;
    width: 100%;
}
.index #header-wrapper {
margin-bottom:0;
}
.item .header-logo-desc p, .static_page .header-logo-desc p, .error_page .header-logo-desc p, .item .top-bar-social #social a, .static_page .top-bar-social #social a, .error_page .top-bar-social #social a {
   color:#303030;
}
.item #header-wrapper, .static_page #header-wrapper, .error_page #header-wrapper {
    background: #fff;
    height: auto;
border-bottom: 1px solid #eee;
    box-shadow: 0 -2px 19px rgba(0,0,0,.1);
    padding-bottom: 15px;
}
.item #header-wrapper:before, .static_page #header-wrapper:before, .error_page #header-wrapper:before {
display:none;
}
#header-wrapper:before {
content:"";
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
}
#header {
padding: 0;
}
#header-inner {
text-align: center;
display: inline-block;
}
#header h1 {
    color: #fff;
    margin: 0;
    font-size: 30px;
    line-height: 1.4em;
    text-transform: Uppercase;
    letter-spacing: 1px;

}
#header .description {
    display:none;
}
.header-text p {
    color: #fff;
    margin: 0;
   font-size: 20px;
    letter-spacing: 2px;
font-weight: 500;
    line-height: 1.2;
}
.header-logo-desc .type {
   font-size: 60px;
    font-weight: 700;
    font-family: inherit;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: #fff;
}
.header-logo-desc p {
display: inline-block;
    white-space: nowrap;
    visibility: inherit;
    transition: none;
    border-width: 0px;
   margin: 0 0 0 20px;
    padding-right: 20px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
.header-logo-desc {
    margin:10px 0 20px;
}
.header-logo-desc .type {
    position: relative;
}
.typed-cursor {
    font-weight: 500;
    font-size: 50px;
    color: #aebcb9;
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}
.typed-cursor {
    position: absolute;
    bottom: 0;
    display: inline-block;
}

.fenix-head {
  display:table;
width:100%;
height:100%;
}
.fenix-sub-head {
margin:0 auto;
display:table-cell;
vertical-align: middle;
}
.index .fenix-sub-head, .archive .fenix-sub-head {

}
.top-bar-social {
padding: 0;
}
.top-bar-social li {
display: inline-block;
    float: none;
padding: 0;
margin-right: 5px;
}
.top-bar-social li:last-child {
margin-right:0;
}
.top-bar-social .widget ul {
padding: 0;
}
.top-bar-social .LinkList ul {
text-align: center;
margin: 0 0 0 0;
}
.top-bar-social #social a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #000;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
}
.top-bar-social #social a:before {
display: inline-block;
font: normal normal normal 22px/1 FontAwesome;
font-size: inherit;
font-style: normal;
font-weight: 400;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.top-bar-social .bloglovin:before{content:"\f004"}
.top-bar-social .facebook:before{content:"\f09a"}
.top-bar-social .twitter:before{content:"\f099"}
.top-bar-social .gplus:before{content:"\f0d5"}
.top-bar-social .rss:before{content:"\f09e"}
.top-bar-social .youtube:before{content:"\f167"}
.top-bar-social .skype:before{content:"\f17e"}
.top-bar-social .stumbleupon:before{content:"\f1a4"}
.top-bar-social .tumblr:before{content:"\f173"}
.top-bar-social .vine:before{content:"\f1ca"}
.top-bar-social .stack-overflow:before{content:"\f16c"}
.top-bar-social .linkedin:before{content:"\f0e1"}
.top-bar-social .dribbble:before{content:"\f17d"}
.top-bar-social .soundcloud:before{content:"\f1be"}
.top-bar-social .behance:before{content:"\f1b4"}
.top-bar-social .digg:before{content:"\f1a6"}
.top-bar-social .instagram:before{content:"\f16d"}
.top-bar-social .pinterest:before{content:"\f0d2"}
.top-bar-social .delicious:before{content:"\f1a5"}
.top-bar-social .codepen:before{content:"\f1cb"}

.top-bar-social ul#social a:hover {
color: $maincolor;
opacity: 1;
}
.slide-in {
    font-size: 3.3rem;
    position: absolute;
    bottom: 7.2rem;
    left: 0;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0
}
.slide-in .pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 42px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 26px;
    -webkit-backface-visibility: hidden
}
.slide-in .pointer:after {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    content: '';
    -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
    transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
    -webkit-animation: scroll 1.5s -1s cubic-bezier(.68, -.55, .265, 1.55) infinite;
    animation: scroll 1.5s -1s cubic-bezier(.68, -.55, .265, 1.55) infinite;
    opacity: 1;
    border-radius: 100%;
    background-color: #fff
}
@-webkit-keyframes scroll {
    0%, 20% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
        transform: translateY(0) scaleY(1) scaleX(1) translateZ(0)
    }
    10% {
        -webkit-transform: translateY(0) scaleY(1.2) scaleX(1.2) translateZ(0);
        transform: translateY(0) scaleY(1.2) scaleX(1.2) translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(20px) scaleY(2.5) scaleX(.5) translateZ(0);
        transform: translateY(20px) scaleY(2.5) scaleX(.5) translateZ(0);
        opacity: .01
    }
}
@keyframes scroll {
    0%, 20% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateZ(0);
        transform: translateY(0) scaleY(1) scaleX(1) translateZ(0)
    }
    10% {
        -webkit-transform: translateY(0) scaleY(1.2) scaleX(1.2) translateZ(0);
        transform: translateY(0) scaleY(1.2) scaleX(1.2) translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(20px) scaleY(2.5) scaleX(.5) translateZ(0);
        transform: translateY(20px) scaleY(2.5) scaleX(.5) translateZ(0);
        opacity: .01
    }
}
@-webkit-keyframes blink {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
@keyframes blink {
    0%, to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
/* ######## Section 1 Css ######################### */
.sora-special-box {
    background: #fff;
    overflow: hidden;
    margin: 0 auto;
padding:20px 0;
}
.special-wrap {
margin:0 auto;
}
.special-title {
    text-align: center;
margin-bottom: 35px;
}
.special-title h4 {
font-size: 35px;
    line-height: 45px;
color:#303030;
text-transform:capitalize;
}
.special-tiles {
    width: 33.33%;
    box-sizing: border-box;
   float: left;
    padding: 10px;
    box-sizing: border-box;
}
.special-tiles-wrap {
background: #FFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px 30px 20px;
    box-shadow: 5px 5px 45px -27px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 55px -27px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 45px -27px rgba(0,0,0,0.5);
}
.special-icons {
    font-size: 45px;
    float: left;
    color: #303030;
    margin-right: 10px;
width: 50px;
    height: 60px;
    line-height: 60px;
}
.special-heading {
    font-size: 14px;
    line-height: 21px;
    color: #303030;
text-transform: capitalize;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
font-weight:bold;
}
.special-text {
    color: #606060;
}

.sora-author-box {
    padding: 57px 50px 15px 50px;
    box-sizing: border-box;
    overflow: hidden;
}
.sora-author-box-image {
width:40%;
  float: left;
    margin-right: 5%;
    margin-bottom: 10px;
}
.sora-author-box-image img {
    height: 385px;
    object-fit: cover;
}
.sora-author-box-text {
    padding: 0;
    overflow: hidden;
    text-align: left;
}
.sora-author-box-text-head {
    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}
.sora-author-box-text .hello-txt {
   background-color: $maincolor;
color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 28px;
}
.sora-author-box-text .hello-txt:before {
border-left-color:$maincolor;
content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
}
.sora-author-box-text .profile-title {
   font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
color:#3d4451;
}
.sora-author-box-text .profile-title span {
font-weight: 300;
}
.sora-author-box-text .profile-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
}
.sora-author-box-text-details p {
    font-size: 14px;
    font-weight: 300;
    color: #8a8a8a;
    line-height: 2;
    margin: 0;
}
.sora-author-box-text-details ul {
margin: 0;
    padding: 0;
    list-style: none;
}
.sora-author-box-text-details .profile-list li {
    margin-bottom: 13px;
  list-style: none;
padding:0;
}
.sora-author-box-text-details .profile-list li .list-title {
    display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.sora-author-box-text-details .profile-list li .cont {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7;
}
.sora-author-box-text-details .profile-list li .list-button {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: none;
    padding: 5px 8px;
    display: inline-block;
    position: relative;
    top: -2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
background:$maincolor;
}
.sora-author-box-text-details .profile-list li .fa {
    margin-right: 10px;
    vertical-align: baseline;
}
.fenix-head {
 
}
.hero-row {
width:940px;
}
.fenix-sub-head-auth {
margin:0 auto;
    background: #fff;
    position: relative;
}
.sora-cv-author-details {
    margin: 15px auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
background-color: #fff;
    transition: box-shadow .25s;
    -webkit-transition: box-shadow .25s;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.sora-cv-author-details .card-content {
    padding: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sora-cv-author-details .card-content p {
color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
}
.sora-cv-author-details .card-action {
    border-top: 1px solid rgba(160, 160, 160, .2);
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sora-cv-author-details .card-action .about-btn {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    animation-delay: 1s;
    text-align: center;
}
.sora-cv-author-details .card-action .about-btn .btn {
    margin: 7px 7px;
    background: $maincolor;
    color: #fff;
    width: 180px;
    border-radius: 2px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
position: relative;
    overflow: hidden;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
.skills, .skill-details {
  padding: 15px;
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 0;
}
.skill-details {
float:right;
padding-left: 40px;
    padding-right: 0;
}
.skills dt:after {
  width: 100%;
  background-color: #e0e0e0;
  height: 0.5rem;
  content: "";
  display: block;
}

.skills dd {
  background: red;
  width: 0;
  height: 0.5rem;
  position: relative;
  top: -0.5rem;
}
.skills dd.html {
  background: #F44336;
}
.skills dd.css {
  background: #2196F3;
}
.skills dd.jquery {
  background: #FFCA28;
}
.skills dd.scss {
  background: #F06292;
}
.skills dd.javascript {
  background: #FFA000;
}
.skills dd.php {
  background: #303F9F;
}
.skills dd.xml {
  background: #27ae60;
}
/* ######## Section 2 Css ######################### */
.sora-works-box {
   background: #f1f1f1;
    background-size: cover;
    overflow: hidden;
    margin: 0 auto;
padding:20px 0;
}
.works-wrap {
margin:0 auto;
}
.works-title {
    text-align: center;
margin-bottom: 35px;
}
.works-title h4 {
font-size: 35px;
    line-height: 45px;
color:#202020;
text-transform:capitalize;
}
.works-title span {
color:#aaa;
}
.works-tiles {
    width: 25%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.works-icons {
    font-size: 45px;
    display: block;
    color: $maincolor;
    margin-bottom: 20px;
}
.works-icons li {
width:60px;
height:60px;
    background-color: $maincolor;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    padding: 10px;
list-style:none;
    -webkit-box-shadow: 0 15px 34px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 15px 34px rgba(0, 0, 0, 0.18);
    box-shadow: 0 15px 34px rgba(0, 0, 0, 0.18);
    -webkit-transition: all 0.4s ease-in-out;
}
.works-icons li .text {
line-height: 60px;
    font-size: 25px;
color:#fff;
}

.works-heading {
    font-size: 18px;
    line-height: 21px;
    color: #202020;
text-transform: capitalize;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
font-weight:bold;
}
.works-text {
    margin: 0 0 20px;
    color: #707070;
}
/* ######## Testimonial Css ######################### */
/*! Flickity v1.0.0
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-prev-next-button{position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:50%;background:#fff;background:hsla(0,0%,100%,.75);cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.flickity-prev-next-button:hover{background:#fff}.flickity-prev-next-button:focus{outline:0;box-shadow:0 0 0 5px #09F}.flickity-prev-next-button:active{filter:alpha(opacity=60);opacity:.6}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button:disabled{filter:alpha(opacity=30);opacity:.3;cursor:auto}.flickity-prev-next-button svg{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-prev-next-button .arrow{fill:#333}.flickity-prev-next-button.no-svg{color:#333;font-size:26px}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#efefef;border-radius:50%;filter:alpha(opacity=80);opacity:.80;cursor:pointer;    padding: 0;}.flickity-page-dots .dot.is-selected{filter:alpha(opacity=100);opacity:1}
.main-gallery {
background: url(https://2.bp.blogspot.com/-C2ZNH3JwldA/Vupbf-HopaI/AAAAAAAADXU/xq1cJrP0LJMEylkyCr76kPNm-bxo0-7og/s1600/city-1150026_960_720.jpg) no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
position:relative;
}
.main-gallery:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #000;
}
.gallery-cell {
  width: 100%;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 100px auto 130px auto;
  padding: 0 20px;
}

.testimonial-avatar {
  width: 100px;
  border-radius: 50%;
}

.testimonial-quote {
  display: block;
  font-size: 24px;
  padding: 10px 0;
line-height:1.4;
color:#fff;
font-style:italic;
  
font-weight:400;
}

.testimonial-author {
  display: block;
  font-weight: 700;
  color: $maincolor;
}

.flickity-page-dots {
  bottom: 25px;
}

.flickity-page-dots .dot.is-selected {
  background: $maincolor;
}
/* ######## Section 3 Css ######################### */
/* ######## Featured Summary Css ######################### */
.tybox-wrapper {
    margin: 0 0 10px;
overflow:hidden;
}
.featured-box {
    clear: both;
}
.box-menu-tab {
   position: relative;
    clear: both;
    width: 100%;
}
.tybox-wrapper .tyboxtabs .box-menu-tab li {
    padding: 0;
    list-style: none;
    float: left;
}
.tybox-wrapper .tyboxtabs .box-menu-tab .box-head-title {
height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    font-size: 13px;
    transition: color .3s ease-out;
    background: #29333d;
    float: left;
}
.tybox-wrapper .tyboxtabs .box-menu-tab .box-head-title a {
   color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.tybox-wrapper .tyboxtabs .box-menu-tab .active .box-head-title {
    background: $maincolor;
}
.tybox-wrapper .tyboxtabs .box-menu-tab .box-head-more {
        position: absolute;
    right: 0;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    font-size: 13px;
    transition: color .3s ease-out;
display:none;
}
.yard-auth-ty::before {
    content: '\f007';
    font-family: fontawesome;
    color: #bbb;
    margin-right: 5px;
}
.yard-auth-ty {
    margin-right: 10px;
}
.yard-auth-ty, .ty-time {
    color: #bdbdbd;
    font-size: 12px;
    font-weight: 400;
}
.tybox-wrapper .tyboxtabs .box-menu-tab .active .box-head-more {
    display: inline-block;
}
.tybox-wrapper .tyboxtabs .box-menu-tab .box-head-more a:before {
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $maincolor;
    content: '';
    vertical-align: baseline;
    padding: 0;
}
.tybox .tybox-first {
    width: 50%;
    position: relative;
    float: left;
    padding-right: 1.4%;
    box-sizing: border-box;
    overflow: hidden;
}
.tybox .tybox-feat-image {
width: 100%;
    position: relative;
    overflow: hidden;
padding:10px;
box-sizing:border-box;
background:$maincolor;
}
.tybox .tybox-first .tyard-thumb, .tybox .tybox-img {
    height: 250px !important;
 transition: all .3s ease-in-out;
}
.templatesyard .tyard-thumb:hover .tybox-img, .templatesyard .tyard-thumb:hover .yard-img, .templatesyard .tylist-first .tyard-thumb:hover .tylist-img, .templatesyard .col-left-first .tyard-thumb:hover .col-left-img, .templatesyard .col-right-first .tyard-thumb:hover .col-right-img, .templatesyard .ty-feat .tygrid-rest .tygrid-thumb:hover .yard-img, .post-home-image .post-thumb:hover a {
    transform: scale(1.1) rotate(-1deg);
    transition: all .3s ease-in-out;
}
.templatesyard .tyard-thumb .tybox-img, .templatesyard .tyard-thumb .yard-img, .templatesyard .tylist-first .tyard-thumb .tylist-img, .templatesyard .col-left-first .tyard-thumb .col-left-img, .templatesyard .col-right-first .tyard-thumb .col-right-img, .templatesyard .ty-feat .tygrid-rest .tygrid-thumb .yard-img, .post-home-image .post-thumb a {
    transition: all .3s ease-in-out;
}
.templatesyard .tybox-first .tyard-thumb {
    position: relative;
    width: 100%;
    height: 250px;
}
.templatesyard .tybox-img {
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
}
.tybox-first .tyard-thumb .yard-label {
  
}
.tybox-first .tyard-thumb .yard-label a {
    background: $maincolor;
    color: #fff;
    text-transform: uppercase;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    padding: 0 6px;
    font-size: 11px;
    font-weight: 400;
    border-radius: 2px;
}
.tybox .tybox-con-yard {
   position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    padding: 15px;
    box-sizing: border-box;
}
.tybox .tybox-first .tybox-con-yard .tyard-title a {
    display: block;
    font-size: 19px;
    color: #fff;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 5px;
    margin-top: 5px;
}
.tybox .tybox-first .recent-summary {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.tybox-more {
    background: #3d3d3d;
    padding: 5px 12px !important;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 2px;
    color: #f7f7f7;
    font-weight: 700;
    white-space: nowrap;
   font-family:Ruda;
}
.tybox .ty-feat .tybox-rest.first-box {
   width: 60%;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    padding-right: 2%;
    box-sizing: border-box;
}
.tybox .ty-feat .tybox-rest.first-box .first-box-wrp {
    overflow: hidden;
    position: relative;
}
.tybox .ty-feat .tybox-rest {
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    padding: 0;
    position: relative;
}
.templatesyard .ty-feat .tybox-rest .tyard-thumb {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    vertical-align: middle;
    margin: 0 !important;
}
.templatesyard .ty-feat .tybox-rest.first-box .yard-img {
height:430px;
}
.templatesyard .ty-feat .tybox-rest .yard-img {
    width: 100%;
    height: 210px;
    position: relative;
    display: block;
    transition: all .3s ease-in-out;
}
.templatesyard .ty-feat .tybox-rest.first-box .tyard-thumb:before {
    content: "\f0f6";
    font-family: FontAwesome;
    line-height: 25px;
    width: 25px;
    height: 25px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: RGBA(0,0,0,0.4);
    font-weight: 400;
    position: absolute;
    top: 8px;
    opacity: 0.5;
    right: 7px;
    z-index: 2;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 50%;
-webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.templatesyard .ty-feat .tybox-rest .tyard-thumb:hover:before {
background-color: $maincolor;
border-color:$maincolor;
-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
opacity:1;
 top: 40%;
    right: 40%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.tybox .tyimg-lay {
    position: absolute;
    left: 0;
top:50%;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
opacity:0.5;
      background: -moz-linear-gradient(top,rgba(34,34,34,0) 0%,rgba(34,34,34,.25) 30%,rgba(34,34,34,.8) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(34,34,34,0)),color-stop(30%,rgba(34,34,34,.25)),color-stop(100%,rgba(34,34,34,.8)));
    background: -webkit-linear-gradient(top,rgba(34,34,34,0) 0%,rgba(34,34,34,.25) 30%,rgba(34,34,34,.8) 100%);
    background: -o-linear-gradient(top,rgba(34,34,34,0) 0%,rgba(34,34,34,.25) 30%,rgba(34,34,34,.8) 100%);
    background: -ms-linear-gradient(top,rgba(34,34,34,0) 0%,rgba(34,34,34,.25) 30%,rgba(34,34,34,.8) 100%);
    background: linear-gradient(to bottom,rgba(34,34,34,0) 0%,rgba(34,34,34,.25) 30%,rgba(34,34,34,.8) 100%);
}
.tybox .yard-tent-ty {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    padding: 15px;
    box-sizing: border-box;
    background: #282828;
}

.tybox .yard-tent-ty .yard-label {
z-index: 2;
}
.tybox .yard-tent-ty .yard-label {
color: #fff;
text-transform: uppercase;
height: 20px;
line-height: 20px;
display: inline-block;
padding:0;
font-size: 11px;
font-weight: 400;
margin-bottom: 8px;
}
.tybox .yard-tent-ty .yard-label a {
color:#fff;
}
.tybox .yard-tent-ty .yard-label a:before {
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff4545;
    content: '';
    vertical-align: baseline;
padding: 0;
}

.tybox .yard-tent-ty .tyard-title {
      overflow: hidden;
    line-height: 0;
    margin: 0 0 2px;
    padding: 0;
}

.tybox .ty-feat .tybox-rest.first-box .yard-tent-ty .tyard-title a {
font-size: 22px;
    line-height: 1.2;
}
.tybox .yard-tent-ty .tyard-title a {
   color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.tybox-time {
    color: #bdbdbd;
    font-size: 12px;
    font-weight: 400;
}
.tybox-time:before {
    content: '\f133';
    font-family: fontawesome;
    color: #bbb;
    margin-right: 5px;
}

.tybox .ty-feat .tybox-rest:nth-child(3) {
    margin-bottom: 0;
}
.tybox .tyard-thumb .item-cmm {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    padding: 5px 6px 0;
    font-size: 12px;
    font-weight: bold;
    background: $maincolor;
    border-radius: 0 0 2px 2px;
}
.tybox .tyard-thumb .item-cmm:before {
    content: "\f086";
    margin-right: 5px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tybox .category-gallery {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    overflow: hidden;
}
.tybox .category-gallery a:before {
    display: block;
    background-color: #e74c3c;
    opacity: .5;
    color: #fff;
    height: 18px;
    line-height: 18px;
    padding: 0 5px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all .3s ease;
}
.icon:before {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    padding-right: 4px;
}
.tysum-wrapper .featured-box {
    margin: 0 auto;
    overflow: hidden;
}
.tyheading-head {
text-align: center;
    margin: 25px 0;
}
.tyheading-head h2 {
font-size: 35px;
    line-height: 45px;
    color: #303030;
    text-transform: capitalize;
}
.tysum .ty-feat .tybox-rest {
    float: left;
    width: 25%;
    padding-right: 10px;
    box-sizing: border-box;
margin-bottom:10px;
position:relative;
}
.tysum .ty-feat .tybox-rest:nth-child(4n) {
    padding-right: 0;
}
.tysum .tyimg-lay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
opacity:0.5;
   background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(top, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
}
.tysum .yard-tent-ty {
    clear: both;
    z-index: 2;
   padding: 10px 0 0;
    box-sizing: border-box;
}


.tysum .yard-tent-ty .tyard-title {
      overflow: hidden;
    line-height: 0;
    margin: 0 0 2px;
    padding: 0;
}
.tysum .yard-tent-ty .tyard-title a {
   color: #2e2e2e;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 1px;
}
.tysum .yard-tent-ty .recent-summary {
   color: #6a6a6a;
     line-height: 20px;
font-size: 13px;
    font-weight: normal;
}
.tysum.templatesyard .ty-feat .tybox-rest .yard-img {
    height: 185px;
}
.tysum-wrapper {
    overflow: hidden;
background: #fff;
    padding: 0 0 25px;
}
/* ######## Contact Form Css ######################### */
div#sora_blogger_cntct_form {
    padding: 50px 0px;
    border-radius: 2px;
    color: #1D1D1D;
    font-size: 15px;
    font-weight: bold;
    position: relative;
margin:0 auto;
overflow:hidden;}

#sora_blogger_cntct_form-wrap{
    background: url(http://4.bp.blogspot.com/-TVL5kqig2ro/W4aj1JkfXyI/AAAAAAAAFiU/LVK_laGaCUE2j06-gcaGkQV9ulQ2w6SOQCK4BGAYYCw/s1600/nature-3616194_1920.jpg) no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
position:relative;
}
#sora_blogger_cntct_form-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: #000;
}
div#sora_blogger_cntct_form .wrap-me {
      margin: 0 auto;
    display: block;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 40px 5px;
}
.contact-title {
    text-align: center;
    margin: 25px 0;
}
.contact-title h4 {
    font-size: 35px;
    line-height: 45px;
    color: #303030;
}
.contact-title span {
    color: #606060;
}
.contact_list_wrapper {
    text-align: center;
}
.contact-list-info {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.contact_list_wrapper .contact-list-info li {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    line-height: 25px;
    color: #606060;
}
.contact_list_wrapper .contact-list-info li i {
    display: inline;
margin-right: 5px;
    font-size: 15px;
    vertical-align: -2px;
    color: #303030;
}
.contact_list_wrapper .contact-list-info li p {
 display: inline;
}
input#ContactForm1_contact-form-name, #ContactForm1_contact-form-email, #ContactForm1_contact-form-email:hover, #ContactForm1_contact-form-email:active {
    padding: 5px;
    margin-top: 4px !important;
    box-shadow: none!Important;
    width: 100%;
    max-width: 100%;
  background: #fafafa !important;
    color: #333!important;
    border-color: #f0f0f0 !important;
border-width:0 0 1px 0;
    line-height: 1em;
    min-height: 45px;
    margin-bottom: 15px;
    border-radius: 0px;
}
.contact-form-email-message, .contact-form-email-message:active, .contact-form-email-message:hover {
    padding: 5px;
    margin-top: 4px !important;
    box-shadow: none!Important;
    width: 100%;
max-width: 100%;
    line-height: 1em;
    min-height: 80px;
  background: #fafafa !important;
    color: #333;
    border-color: #f0f0f0 !important;
border-width:0 0 1px 0;
    margin-bottom: 10px;
    border-radius: 0px;
}
/***** Focus *****/
#ContactForm1_contact-form-name:focus, #ContactForm1_contact-form-email:focus, #ContactForm1_contact-form-email-message:focus {
    outline: none;
    background: transparent !important;
    color: #333;
    border-color: $maincolor !important;
border-width:0 0 1px 0;
    box-shadow: none !important;
    transition: all 0.3s ease-in-out !important;
}
/**** Submit button style ****/
.contact-form-button-submit:hover {
    color: #FFFFFF;
    background: $maincolor !important;
color:#000!important;
}
.contact-form-button-submit {
      background: #111;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    display: table;
    font-size: 17px;
    margin: 0 !important;
    border-radius: 5px !important;
    max-width: inherit;
    width: inherit;
    min-width: inherit;
    line-height: 0px;
    font-weight: normal;
    position: relative;
    cursor: pointer;
    outline: none!important;
    color: #fff;
    border: 1px solid #111 !important;
    text-align: center;
    padding: 25px 50px;
    text-transform: capitalize;
    display: inline-block;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
}

/**** Submit button on Focus ****/
.contact-form-button-submit:focus, .contact-form-button-submit.focus {
  border-color: $maincolor;
  box-shadow: none !important;
color:#000!important;
}
/**** Error message ****/
.contact-form-success-message, .contact-form-success-message-with-border {
  color: #fff !important;
margin-top:55px !important;
}
/**** Submit Button On Success Message ****/
.contact-form-button-submit.disabled, .contact-form-button-submit.disabled:hover, .contact-form-button-submit.disabled:active {
    opacity: 0.9;
}
/****** Success Message *****/
.contact-form-error-message-with-border {
    background: #000000;
    border: 1px solid #5A5A5A;
    bottom: 0;
    box-shadow: none;
    color: #FDFDFD;
    font-size: 15px;
    font-weight: normal;
    line-height: 35px;
    margin-left: 0;
    opacity: 1;
    position: static;
    text-align: center;
    height: 35px;
    margin-top: 60px;
}
.contact-form-cross {
    height: 14px;
    margin: 5px;
    vertical-align: -8.5%;
    float: right;
    width: 14px;
    border-radius: 50px;
    border: 0 !important;
    cursor: pointer;
}
.contact-form-widget {
    max-width: 100%;
}
.contact-form-success-message-with-border {
    font-weight: normal;
    background-color: #000;
    border: 1px solid #FFF;
    color: #FFF;
    line-height: 35px;
    margin-left: 0;
    font-size: 13px;
    opacity: 1;
    position: static;
    text-align: center;
    height: 35px;
    margin-top: 60px;
}
/* Extra Stuff */

div#sora_blogger_cntct_form span.name-bg, div#sora_blogger_cntct_form span.email-bg {
    display: inline-block;
    line-height: 21px;
    width: 100%;
    color: #000;
    padding: 3px 0;
    margin: 0px 0px 4px;
    box-sizing: border-box;
    height: 30px;
    letter-spacing: 1px;
    font-weight: normal;
}
div#sora_blogger_cntct_form span.message-bg {
    display: inline-block;
    line-height: 21px;
    width: 100%;
    color: #000;
    padding: 3px 0;
    box-sizing: border-box;
    height: 30px;
    margin: 0px 0px 4px;
    letter-spacing: 1px;
    font-weight: normal;
}

div#sora_blogger_cntct_form span.send-bg {
       display: block;
    text-align: center;
    transition: all 0.4s ease-in-out !important;
    margin-top: 15px;
}


div#sora_blogger_cntct_form span.clear-bg {
    display: none;
   
}


input.contact-form-button.contact-form-button-submit.clear-button:hover {
    background-color: #E83434 !important;
}
div#sora_blogger_cntct_form .clear-button {
   display:none;
}
.map-me {
    margin: 0;
    display: block;
 text-align:center;
    width: 100%;
padding:0;
    box-sizing: border-box;
    overflow: hidden;
}
.map-me .con-title {
    font-weight: 700;
    line-height: 48px;
    color: #000;
    margin: 0;
    text-transform: capitalize;
}
.map-me .con-text {
    font-weight: 100;
    line-height: 24px;
    color: #555;
margin: 0 0 10px;
}
.map-me .con-list {
list-style-type: none;
    padding: 0;
}
.map-me .con-list li {
list-style-type: none;
    color: #fff;
  line-height: 45px;
    text-transform: capitalize;
font-weight:normal;
    width: 33.33%;
    float: left;
}
.map-me .con-list li i {
   font-size: 30px;
    margin-right: 20px;
    padding: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #999;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
}
.map-me .con-list li span {
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: none;
}
.map-me .con-list li .con-list-head {
font-weight:700;
}
/* ######## Sidebar Css ######################### */
.sidebar .widget {
margin-bottom: 20px;
position: relative;
background: #f5f5f5 none repeat scroll top left;
box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
}
.sidebar h2 {
font-size: 17px;
line-height: 27px;
color: #000;
padding: 7px 15px;
font-weight: 400;
letter-spacing: 1.5px;
text-transform: uppercase;
position: relative;
text-align: center;
background: #f7f7f7;
    border: 1px solid #f0f0f0;
}
.sidebar .widget-content {
    padding: 10px;
box-sizing:border-box;
}
.sidebar ul,.sidebar li{
list-style-type:none;
margin:0;
}
/* ######## Counter Css ######################### */
.counter-box {
    background: url(http://4.bp.blogspot.com/-Tev2WNGyFs8/WaUuh31ZVRI/AAAAAAAADuY/5D9_uZ3rgrY9cVKC46DXxPMlXlxCOmB4gCK4BGAYYCw/s1600/sg-back.jpg) no-repeat;
    background-attachment: scroll;
    background-size: cover;
background-position: 50% 0;
    overflow: hidden;
    margin: 0 auto;
    padding: 40px 0;
position:relative;
}
.counter-box:before {
    background: rgba(0, 0, 0, 0.7);
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
}
.counter-box-wrap {
    margin: 0 auto;
}
.counter-box-item {
    width: 25%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
color: #fff;
    position: relative;
}
.counter-box-item i {
    font-size: 24px;
}
.counter-sora {
color:#fff;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    margin: 10px 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
   
}
.counter-sora-text {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}
/* ######## Post Css ######################### */
.Portfolio-title {
    text-align: center;
       margin: 25px 0;
}
.Portfolio-title h4 {
    font-size: 35px;
    line-height: 45px;
    color: #303030;
text-transform:capitalize;
}
.Portfolio-title span {
    color: #606060;
}
article {
    padding: 0;
overflow:hidden;
}

.index .post-grid-item, .archive .post-grid-item {
width:33.33%;
float:left;
padding-right:15px;
box-sizing:border-box;
margin-bottom:15px;
}
.index .post-grid-item:nth-child(3n), .archive .post-grid-item:nth-child(3n) {
padding-right:0;
}
.post {
    display: block;
    word-wrap: break-word;
background: #ffffff;
}
.post h1 {
    color: #0a0a0a;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 10px;
}
.post h2 {
margin-bottom: 12px;
line-height: 37px;
    font-size: 18px;
    font-weight:500;
text-transform:capitalize;
}
.post h2 a {
color: #000;
}
.post h2 {
    margin: 0 0 10px;
    padding: 0;
}


.retitle h2 {
    margin: 8px 0;
    display: block;
}
.post-body {
margin: 0px;
padding:10px;
font-size: 14px;
line-height: 26px;
box-sizing:border-box;
text-align:justify;
}

.block-image {
    float: left;
    width: 100%;
    height:auto;
position:relative;
}
.block-image .thumb {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    overflow: hidden;
}
.block-image .thumb:before {
    background:rgba(255, 255, 255, 0.95);
    bottom: 0px;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    position: absolute;
opacity:0;
-webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    z-index: 3;
}
.block-image img {
    width: 100%;
    height: 260px;
    display: block;
object-fit:cover;
    transition: all .3s ease-out!important;
    -webkit-transition: all .3s ease-out!important;
    -moz-transition: all .3s ease-out!important;
    -o-transition: all .3s ease-out!important;
}
.block-image:hover .retitle {
opacity:1;
}
.block-image:hover .thumb:before {
opacity:1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    -webkit-transition: opacity 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: opacity 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0s;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0s, -webkit-transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.block-image .retitle {
position: absolute;
    top: 0;
    text-align: center;
    display: table;
    width: 100%;
    height: 260px;
box-sizing: border-box;
    opacity: 0;
 z-index: 9;
 transition: all .3s ease-out!important;
    -webkit-transition: all .3s ease-out!important;
    -moz-transition: all .3s ease-out!important;
    -o-transition: all .3s ease-out!important;
}
.block-image .post-retitle {
    display: table-cell;
    vertical-align: middle;
}
.block-image .post-retitle h2{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 20px 10px;
}
.post-header {
    padding: 0 10px 10px;
}
.post-meta {
    color: #bdbdbd;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0;
}
.post-meta a, .post-meta i {
    color: #CBCBCB;
}
.post-timestamp {
    margin-left: 5px;
}
.label-head {
    margin-left: 5px;
}
.label-head a {
    padding-left: 2px;
}
.resumo {
    margin-top: 10px;
    color: #919191;
}
.resumo span {
    display: block;
    margin-bottom: 8px;
font-size: 16px;
    line-height: 31px;
}
.post-body img {
max-width: 100%;
padding: 10px 0;
position: relative;
margin:0 auto;
}
.post h3 {
font-size: 18px;
margin-top: 20px;
margin-bottom: 10px;
line-height: 1.1;
}
.second-meta {
    display: none;
}
.comment-link {
    white-space: normal;
}
.ias_trigger {
    clear: both;
    text-align: center;
}
.ias_trigger a {
    padding: 8px;
    color: #fff;
    background: #222;
    border-radius: 4px;
}
.ias_trigger a:hover {
background:$maincolor;
}
#blog-pager {
clear: both;
text-align: center;
padding: 15px 0;
background: #ffffff;
color: #4d4d4d;
}
.displaypageNum a,
.showpage a,
.pagecurrent, .blog-pager-older-link, .blog-pager-newer-link {
padding: 5px 13px;
margin-right: 8px;
color: #fff;
background-color: #2b2b2b;
display: inline-block;
line-height: 20px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
margin-top: 10px;
}
.displaypageNum a:hover,
.showpage a:hover,
.pagecurrent, .blog-pager-older-link:hover, .blog-pager-newer-link:hover {
background: $maincolor;
text-decoration: none;
color: #fff;
}
.showpageOf {
display: none!important;
overflow: hidden;
}
#blog-pager .pages {
margin: 10px 0;
border: none;
}
/* ######## Share widget Css ######################### */
.item .post-footer {
padding: 0 10px;
}
.share-box {
position: relative;
padding: 10px 0;
}
.share-title {
border-bottom: 2px solid #777;
color: #010101;
display: inline-block;
padding-bottom: 7px;
font-size: 15px;
font-weight: 500;
position: relative;
top: 2px;
}
.share-art {
float: right;
padding: 0;
padding-top: 0;
font-size: 13px;
font-weight: 400;
text-transform: capitalize;
}
.share-art a {
color: #fff;
padding: 3px 8px;
margin-left: 4px;
border-radius: 2px;
display: inline-block;
margin-right: 0;
background: #010101;
}
.share-art a span {
    display: none;
}
.share-art a:hover{color:#fff}
.share-art .fac-art{background:#3b5998}
.share-art .fac-art:hover{background:rgba(49,77,145,0.7)}
.share-art .twi-art{background:#00acee}
.share-art .twi-art:hover{background:rgba(7,190,237,0.7)}
.share-art .goo-art{background:#db4a39}
.share-art .goo-art:hover{background:rgba(221,75,56,0.7)}
.share-art .pin-art{background:#CA2127}
.share-art .pin-art:hover{background:rgba(202,33,39,0.7)}
.share-art .lin-art{background:#0077B5}
.share-art .lin-art:hover{background:rgba(0,119,181,0.7)}
.share-art .wat-art{background:#25d266;display:none;}
.share-art .wat-art:hover{background:rgba(37, 210, 102, 0.73)}
@media only screen and (max-width: 768px) {
.share-art .wat-art{display:inline-block;}
}
/* ######## Related Post Css ######################### */
#related-posts {
margin-bottom: 10px;
padding: 10px 0;
}
.related li {
width: 32%;
display: inline-block;
height: auto;
min-height: 184px;
float: left;
margin-right: 10px;
overflow: hidden;
position: relative;
}
.related li h3 {
margin-top:0;
}
.related-thumb {
width: 100%;
height: 100px;
overflow: hidden;
border-radius: 2px;
}
.related li .related-img {
width: 100%;
height: 100px;
display: block;
position: relative;
transition: all .3s ease-out!important;
-webkit-transition: all .3s ease-out!important;
-moz-transition: all .3s ease-out!important;
-o-transition: all .3s ease-out!important;
}
.related li .related-img:hover {
-webkit-transform: scale(1.1) rotate(-1.5deg)!important;
-moz-transform: scale(1.1) rotate(-1.5deg)!important;
transform: scale(1.1) rotate(-1.5deg)!important;
transition: all .3s ease-out!important;
-webkit-transition: all .3s ease-out!important;
-moz-transition: all .3s ease-out!important;
-o-transition: all .3s ease-out!important;
}
.related-title a {
font-size: 12px;
line-height: 1.4em;
padding: 10px 0 0;
font-weight: 400;
font-style: normal;
letter-spacing: 1px;
color: #010101;
display: block;
}
.related li:nth-of-type(3n) {
margin-right: 0;
}
.related .related-tag {
display:none;
}
.related-overlay {
position: absolute;
left: 0;
top: 0;
z-index: 1;
width: 100%;
height: 100%;
background-color: rgba(40,35,40,0.05);
}
.related-content {
display: block;
bottom: 0;
padding: 0px 0px 11px;
width: 100%;
line-height: 1.2em;
box-sizing: border-box;
z-index: 2;
}
.related .related-content .recent-date {
font-size: 10px;
}
.recent-date:before, .p-date:before {
content: '\f017';
font-family: fontawesome;
margin-right: 5px;
}
/* ######## Comment Widget Css ######################### */
.comments {
clear: both;
margin: 0;
color: #48494d;
margin-top:10px;
box-sizing: border-box;
border-radius: 5px;
padding: 30px 30px 20px;
background: #FFF;
}
.post-feeds .feed-links {
display: none;
}
iframe.blogger-iframe-colorize,
iframe.blogger-comment-from-post {
height: 260px!important;
background: #fff;
}
.comment-form {
overflow:hidden;
}
.comments h3 {
line-height:normal;
text-transform:uppercase;
color:#333;
font-weight:bold;
margin:0 0 20px 0;
font-size:14px;
padding:0 0 0 0;
}
h4#comment-post-message {
display:none;
margin:0 0 0 0;
}
.comments h4{
color: #48494d;
border-bottom: 1px solid #efefef;
font-size: 16px;
padding: 12px 0;
margin: 0;
font-weight: 700;
letter-spacing: 1.5px;
text-transform: uppercase;
position: relative;
text-align: left;
}
.comments h4:after {
display: inline-block;
content: "\f075";
font-family: fontAwesome;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: $maincolor;
top: 12px;
right: 15px;
padding: 0;
position: absolute;
}
.comments .comments-content{
font-size:13px;
margin-bottom:8px;
padding: 0;
}
.comments .comments-content .comment-thread ol{
list-style:none;
text-align:left;
margin:13px 0;
padding:0
}
.comments .comments-content .comment-thread ol li{
list-style:none;
}
.comments .avatar-image-container {
background:#fff;
border:1px solid #DDD;
overflow:hidden;
padding:0;
border-radius: 50%;
}
.comments .avatar-image-container img {
border-radius:50%;
}
.comments .comment-block{
position:relative;
background:#fff;
padding:15px;
margin-left:60px;
border: 1px solid #efefef;
}
.comments .comment-block:before {
content:"";
width:0px;
height:0px;
position:absolute;
right:100%;
top:14px;
border-width:10px;
border-style:solid;
border-color:transparent #DDD transparent transparent;
display:block;
}
.comments .comments-content .comment-replies{
margin:8px 0;
margin-left:60px
}
.comments .comments-content .comment-thread:empty{
display:none
}
.comments .comment-replybox-single {
background:#f0f0f0;
padding:0;
margin:8px 0;
margin-left:60px
}
.comments .comment-replybox-thread {
background:#f0f0f0;
margin:8px 0 0 0;
padding:0;
}
.comments .comments-content .comment{
margin-bottom:6px;
padding:0
}
.comments .comments-content .comment:first-child {
padding:0;
margin:0
}
.comments .comments-content .comment:last-child {
padding:0;
margin:0
}
.comments .comment-thread.inline-thread .comment, .comments .comment-thread.inline-thread .comment:last-child {
margin:0px 0px 5px 30%
}
.comment .comment-thread.inline-thread .comment:nth-child(6) {
margin:0px 0px 5px 25%;
}
.comment .comment-thread.inline-thread .comment:nth-child(5) {
margin:0px 0px 5px 20%;
}
.comment .comment-thread.inline-thread .comment:nth-child(4) {
margin:0px 0px 5px 15%;
}
.comment .comment-thread.inline-thread .comment:nth-child(3) {
margin:0px 0px 5px 10%;
}
.comment .comment-thread.inline-thread .comment:nth-child(2) {
margin:0px 0px 5px 5%;
}
.comment .comment-thread.inline-thread .comment:nth-child(1) {
margin:0px 0px 5px 0;
}
.comments .comments-content .comment-thread{
margin:0;
padding:0
}
.comments .comments-content .inline-thread{
background: #fff;
padding:15px;
box-sizing:border-box;
margin:0
}
.comments .comments-content .inline-thread .comment-block {
border-color: $maincolor;
}
.comments .comments-content .inline-thread .comment-block:before {
border-color: transparent $maincolor transparent transparent;
}
.comments .comments-content .user {
letter-spacing: 0.5px;
font-weight: 600;
}
.comments .comments-content .icon.blog-author {
display:inline;
}
.comments .comments-content .icon.blog-author:after {
content: "Author";
background:$maincolor;
color: #fff;
font-size: 11px;
padding: 2px 5px;
text-transform:Capitalize;
font-style:italic;
letter-spacing: 0.3px;
}
.comment-header {
text-transform:uppercase;
font-size:12px;
}
.comments .comments-content .datetime {
margin-left: 6px;
}
.comments .comments-content .datetime a {
color:#888;
}
.comments .comment .comment-actions a {
display:inline-block;
color:#333;
font-weight:bold;
font-size:10px;
line-height:15px;
margin:4px 8px 0 0;
}
.comments .continue a {
color:#333;
display:inline-block;
font-size:10px;
}
.comments .comment .comment-actions a:hover, .comments .continue a:hover{
text-decoration:underline;
}
/* ######## Instagram Widget Css ######################### */


/* ######## Footer Css ######################### */
.bot-bar-menu {
    background-color: #222;
    padding: 20px 0px;
overflow: hidden;
}
.bot-menu-wrap {
    margin: 0 auto;
position:relative;
text-align:center;
}
.bot-menu {
    position: absolute;
    left: 0;
    top: 8px;
}
.bot-menu h2 {
display:none;
}
.bot-menu ul {
overflow: hidden;
list-style: none;
padding: 0;
margin: 0;
}
.bot-menu ul li {
float: left;
display: inline-block;
list-style: none;
padding: 0;
}
.bot-menu ul li a {
padding: 10px 16px;
display: block;
border: none !important;
text-decoration: none;
line-height: inherit;
font-size: 14px;
font-weight: normal;
color: #eeeeee;
text-transform: uppercase;
}
.bot-menu ul li a:hover {
color:$maincolor;
}
.bottom-bar-social {
position: absolute;
    right: 0;
    top: 8px;
}
.bottom-bar-social li {
display: inline;
padding: 0;
float: left;
margin-right: 5px;
;
}
.bottom-bar-social .widget ul {
padding: 0;
}
.bottom-bar-social .LinkList ul {
text-align: center;
}
.bottom-bar-social #social a {
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 10px 5px;
}
.bottom-bar-social #social a:before {
display: inline-block;
font: normal normal normal 22px/1 FontAwesome;
font-size: inherit;
font-style: normal;
font-weight: 400;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.bottom-bar-social .bloglovin:before{content:"\f004"}
.bottom-bar-social .facebook:before{content:"\f09a"}
.bottom-bar-social .twitter:before{content:"\f099"}
.bottom-bar-social .gplus:before{content:"\f0d5"}
.bottom-bar-social .rss:before{content:"\f09e"}
.bottom-bar-social .youtube:before{content:"\f167"}
.bottom-bar-social .skype:before{content:"\f17e"}
.bottom-bar-social .stumbleupon:before{content:"\f1a4"}
.bottom-bar-social .tumblr:before{content:"\f173"}
.bottom-bar-social .vine:before{content:"\f1ca"}
.bottom-bar-social .stack-overflow:before{content:"\f16c"}
.bottom-bar-social .linkedin:before{content:"\f0e1"}
.bottom-bar-social .dribbble:before{content:"\f17d"}
.bottom-bar-social .soundcloud:before{content:"\f1be"}
.bottom-bar-social .behance:before{content:"\f1b4"}
.bottom-bar-social .digg:before{content:"\f1a6"}
.bottom-bar-social .instagram:before{content:"\f16d"}
.bottom-bar-social .pinterest:before{content:"\f0d2"}
.bottom-bar-social .delicious:before{content:"\f1a5"}
.bottom-bar-social .codepen:before{content:"\f1cb"}
.bottom-bar-social ul#social a:hover {
color: $maincolor;
opacity: 1;
}
.jugas_footer_copyright {
    display: inline-block;
    color: #fff;
height:52px;
line-height:52px;
}
.jugas_footer_copyright a {
color:$maincolor;
}
/* ######## Custom Widget Css ######################### */
.sidebar .FollowByEmail > h3.title,
.sidebar .FollowByEmail .title-wrap {
margin-bottom: 0
}
.FollowByEmail td {
width: 100%;
float: left;
box-sizing: border-box
}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit {
margin-left: 0;
width: 100%;
border-radius: 0;
height: 30px;
font-size: 11px;
color: #fff;
background-color: $maincolor;
font-family: inherit;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 1px
}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover {
opacity:0.8;
}
.FollowByEmail .follow-by-email-inner .follow-by-email-address {
padding-left: 10px;
height: 30px;
border: 1px solid #FFF;
margin-bottom: 5px;
box-sizing: border-box;
font-size: 11px;
font-family: inherit
}
.FollowByEmail .follow-by-email-inner .follow-by-email-address:focus {
border: 1px solid #FFF
}
.FollowByEmail .widget-content {
box-sizing: border-box;
padding: 10px
}
.FollowByEmail .widget-content:before {
content: "Enter your email address to subscribe to this blog and receive notifications of new posts by email.";
font-size: 14px;
color: #f2f2f2;
line-height: 1.4em;
margin-bottom: 5px;
display: block;
padding: 0 2px
}
.item #ads-home {
margin-top: 20px;
}
.cloud-label-widget-content {
display: inline-block;
text-align: left;
}
.cloud-label-widget-content .label-size {
display: inline-block;
float: left;
font-size: 16px;
line-height: normal;
margin: 0 5px 5px 0;
opacity: 1
}
.cloud-label-widget-content .label-size a {
background: #f8f8f8;
color: #878787;
float: left;
font-weight: 400;
line-height: 100%;
margin: 0;
padding: 7px 8px;
text-transform: capitalize;
transition: all .6s;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.lowerbar .cloud-label-widget-content .label-size a {
background:#3B3B3B;
}
.cloud-label-widget-content .label-size a:hover,
.cloud-label-widget-content .label-size a:active {
background: $maincolor;
color: #fff;
}
.cloud-label-widget-content .label-size .label-count {
background: $maincolor;
color: #fff;
white-space: nowrap;
display: inline-block;
padding: 6px 8px;
margin-left: -3px;
line-height: normal;
border-radius: 0 2px 2px 0
}
.label-size-1,
.label-size-2 {
opacity: 100
}
.list-label-widget-content li {
display: block;
padding: 8px 0;
position: relative
}
.list-label-widget-content li a:before {
content: '\203a';
position: absolute;
left: 0px;
top: 8px;
font-size: 22px;
color: $maincolor
}
.lowerbar .list-label-widget-content li a {
color:#fff;
}
.list-label-widget-content li a {
color: #0a0a0a;
font-size: 16px;
padding-left: 20px;
font-weight: 400;
text-transform: capitalize;
}
.list-label-widget-content li span:last-child {
color: $maincolor;
font-size: 12px;
font-weight: 700;
position: absolute;
top: 9px;
right: 0
}
.PopularPosts .item-thumbnail {
margin: 0 15px 0 0 !important;
width: 90px;
height: 65px;
float: left;
overflow: hidden;
position: relative
}
.PopularPosts .item-thumbnail a {
position: relative;
display: block;
overflow: hidden;
line-height: 0
}
.PopularPosts ul li img {
width: 90px;
height: 65px;
object-fit: cover;
padding: 0;
transition: all .3s ease
}
.PopularPosts .widget-content ul li {
overflow: hidden;
padding: 10px 0;
border-top: 1px solid #f2f2f2
}
.sidebar .PopularPosts .widget-content ul li:first-child,
.sidebar .custom-widget li:first-child,
.tab-widget .PopularPosts .widget-content ul li:first-child,
.tab-widget .custom-widget li:first-child {
padding-top: 0;
border-top: 0
}
.sidebar .PopularPosts .widget-content ul li:last-child,
.sidebar .custom-widget li:last-child,
.tab-widget .PopularPosts .widget-content ul li:last-child,
.tab-widget .custom-widget li:last-child {
padding-bottom: 0
}
.PopularPosts ul li a {
color: #0a0a0a;
font-weight: 400;
font-size: 13px;
line-height: 1.4em;
transition: color .3s;
}
.PopularPosts ul li a:hover {
color: $maincolor
}
.PopularPosts .item-title {
margin: 0 0 4px;
padding: 0;
line-height: 0
}
.item-snippet {
display: none;
font-size: 0;
padding-top: 0
}
.PopularPosts ul {
counter-reset: popularcount;
margin: 0;
padding: 0;
}
.PopularPosts .item-thumbnail::before {
background: rgba(0, 0, 0, 0.3);
bottom: 0px;
content: "";
height: 100px;
width: 100px;
left: 0px;
right: 0px;
margin: 0px auto;
position: absolute;
z-index: 3;
}
.BlogArchive ul li {
margin-bottom: 7px !important;
padding-bottom: 7px;
}
.BlogArchive ul li:last-child {
margin-bottom: 0;
padding-bottom: 0;
border-bottom: none;
}
.BlogArchive ul li a {
color:#0a0a0a;
}
.BlogArchive ul li a:hover {
color:$maincolor;
}
.BlogArchive .zippy {
color:#e74c3c;
}
.BlogArchive .post-count-link {
font-weight:700;
}
.BlogArchive ul .posts a {
}
.BlogArchive select {
width: 100%;
padding: 10px;
border-color: #777;
}
/* ######## Responsive Css ######################### */
@media only screen and (max-width: 1200px) {
.featured-slider-wrap {
width:auto !important;
}
.sora-author-box-text {
    padding: 30px 70px 0 0;
}
.row {
width: 100%;
margin: 0 auto;
float: none;
padding-left: 10px !important;
padding-right: 10px !important;
box-sizing: border-box;
}
.index .post-grid-item, .archive .post-grid-item {
    width: 33.33%;
}
.index .post-grid-item:nth-child(3n), .archive .post-grid-item:nth-child(3n) {
    padding-right: 0;
}
.index .post-grid-item:nth-child(4n), .archive .post-grid-item:nth-child(4n) {
    padding-right: 15px;
}
}
@media only screen and (max-width: 1100px) {
.sora-author-box-text {
    padding: 15px 0 0 0;
}
.sora-author-box img {
    margin-right: 40px;
max-width: 400px;
}
div#sora_blogger_cntct_form .wrap-me {
    max-width: 500px;
    float: none;
    clear: both;
    margin: 0 auto 20px;
    width: 100%;
}
.map-me {
    max-width: 500px;
    float: none;
    clear: both;
    margin: 0 auto;
    width: 100%;
}
}
@media only screen and (max-width: 980px) {

.item #main-wrapper, .statc_page #main-wrapper, .item #sidebar-wrapper, .statc_page #sidebar-wrapper {
float: none;
clear: both;
width: 100%;
margin: 0 auto;
}
#main-wrapper {
max-width: 100%;
}
#sidebar-wrapper {
padding-top: 20px;
}
#nav1, #nav {
display: none;
}
.slicknav_menu {
    display: block;
}
.item .tm-menu .slicknav_menu, .static_page .tm-menu .slicknav_menu, .error_page {
display:block;
}
.tm-menu, #menu {
height: auto;
}
.item .tm-menu, .static_page .tm-menu, .error_page .tm-menu {
float:none;
display:block;
}
}
@media screen and (max-width: 880px) {
.index .post-grid-item, .archive .post-grid-item {
    width: 32%;
}
.home #header-wrapper {
margin-bottom: 10px;
}
.item #content-wrapper {
padding: 0 0 30px;
}
.skills, .skill-details {
    width: 100%;
    float: none;
    padding: 20px;
    clear: both;
}
.hero-row {
    width: 100%;
}
}
@media only screen and (max-width: 768px) {
.sora-author-box img {
    margin-right: 0;
    max-width: 100%;
    float: none;
    width: 100%;
    height: auto;
    clear: both;
}
.special-tiles {
    width: 50%;
}
.map-me .con-list li {
    width: 100%;
    float: none;
    clear: both;
}
.tysum .ty-feat .tybox-rest {
    width: 50%;
}
.tysum .ty-feat .tybox-rest:nth-child(2n) {
    padding-right: 0;
}
.sora-author-box-image {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
}
.sora-author-box img {
    margin-right: 0;
    max-width: 100%;
    float: none;
    width: 100%;
    height: auto;
    clear: both;
}
.sora-author-box {
    padding: 10px;
}
.sora-author-box-text {
    padding: 10px;
    text-align: center;
}
.counter-box-item, .works-tiles {
    width: 50%;
}

#header h1 {
    font-size: 40px;
}
.index .post-grid-item:nth-child(3n), .archive .post-grid-item:nth-child(3n) {
   padding-right: 0;
}
.index .post-grid-item:nth-child(4n), .archive .post-grid-item:nth-child(4n) {
   padding-right: 0;
}
.index .post-grid-item, .archive .post-grid-item {
    width: 100%;
padding-right: 0;
}
.tm-menu {
    text-align: center;
}
.top-bar-social {
    float: none;
    width: 100%;
    clear: both;
    overflow: hidden;
}
.top-bar-social li {
    display: inline-block;
    float: none;
}
.flickity-prev-next-button {
display:none;
}
.bot-menu, .bottom-bar-social {
    float: none;
    width: 100%;
    clear: both;
    overflow: hidden;
    position: static;
}
.bot-menu ul {
text-align:center;
}
.bot-menu ul li {
    float: none;
}
.bottom-bar-social li {
    float: none;
    display: inline-block;
}
.related li {
    width: 31%;
}
.share-art span {
display: none;
}
.ops-404 {
width: 80%!important;
}
.title-404 {
font-size: 160px!important;
}
#header {
padding: 10px 0px 0;
}
}
@media only screen and (max-width: 767px) {
#header {
    padding: 0;
}
#header h1 {
    font-size: 30px;
}
.header-text p {
    font-size: 30px;
}
.slide-in {
display:none;
}
}
@media only screen and (max-width: 480px) {
.slide-in {
display:block;
}
.special-tiles, .works-tiles, .about-tiles, .counter-box-item {
    width: 100%;
}
.tysum .ty-feat .tybox-rest {
    width: 100%;
clear:both;
padding:0;
}
#header h1 {
    font-size: 30px;
}
.header-text p {
    font-size: 20px;
}
.header-logo-desc span, .header-logo-desc p {
    font-size: 16px;
}
.index .post h2,.archive .post h2, .sora-slide .ty-bonos-entry a, #first-post .post h2 {
line-height: 34px;
font-size: 23px;
}
h1.post-title {
font-size: 22px;
margin-bottom: 10px;
}
#sidebar-wrapper {
max-width: 100%;
}
.share-title {
    display: none;
}
.share-art {
    float: none;
    text-align: center;
}
.related li {
width: 100%;
margin:0 auto;
}
.index .post-outer {
padding: 0 0 5x;
}
}
@media only screen and (max-width: 360px) {
.title-404 {
font-size: 150px!important;
}
.header-logo-desc p {
    font-size: 40%;
}
#header h1 {
    font-size: 200%;
}
}
@media only screen and (max-width: 300px) {
#sidebar-wrapper, .feat-slider-wrap {display:none}
.archive .post h2,.index .post h2, #first-post .post h2 {
line-height: 29px!important;
font-size: 15px!important;
}
article {
overflow: hidden;
}
#blog-pager {
padding: 0;
margin: 0;
}
.index .snippets,.archive .snippets {
display: none;
}
.share-art, .share-box .post-author {
float: none !important;
margin: 0 auto;
text-align: center;
clear: both;
}
.read-more-wrap, .post-labels {
float: none !important;
clear: both;
display: block;
text-align: center;
}
.ops-404 {
font-size: 20px!important;
}
.title-404 {
font-size: 120px!important;
}
h1.post-title {
font-size: 17px;
}
.share-box {
overflow: hidden;
}
.top-bar-social #social a {
width: 24px;
height: 24px;
line-height: 24px;
}
.second-meta .share-art a {
padding: 5px;
}
.comments .avatar-image-container {
display: none;
}
.comments .comment-block {
margin-left: 0 !important;
position: relative;
}
}
  <b:skin><![CDATA[/* ]]></b:skin>
<b:if cond='data:blog.url == data:blog.homepageUrl'>